section:has(.container) {
  background-color: var(--white-700);
}

.container {
  width: 90%;
}

.container form {
  background-color: var(--white-900);
  border-radius: 0 20px 20px 0;
}

.container figure {
  position: relative;
}

.reg {
  background-color: black;
}

img {
  border-radius: 20px 0 0 20px;
}
